<div *ngIf="this.appService.user">
        <div class="ui message">
          <div class="ui centered header">
      
            You need to logout for new registration  !
            <br><br>
            <button routerLink="/" class="ui primary button">Back to Home</button>
      
          </div>
      
       
        </div>
      </div>
      <div *ngIf="!this.appService.user">
<div class="ui segment text  container">
	<div class="ui large header">Sign Up</div>
<hr>
	<form  class="ui form" (ngSubmit)="onSubmit(f)" #f="ngForm"  >

<div class="field">

     <label>Name</label>
     <input type="text" name="name" #f1="ngModel" ngModel required >
</div>
<div class="customValid" *ngIf="f1.touched && f1.invalid">
        Name is required !
      
      </div>


<!-- <div class="field">
   	 <label>Cty</label>
     <input type="text" name="user[city]" required>
</div> -->

  

<!-- <div class="field">
     <label>Date Of Birth</label>
     <input type="text" name="user[dateOfBirth]" required>
</div>  -->

<div class="field">
     <label>Phone</label>
     <input type="text" name="phone" ngModel #f2="ngModel" required>
</div>
<div class="customValid" *ngIf="f2.touched && f2.invalid">
        Phone is required !
      
      </div>
<div class="field">
     <label>Image</label>
     <input type="text" name="image" ngModel  #f3="ngModel" required>
</div>
<div class="customValid" *ngIf="f3.touched && f3.invalid">
        Image is required !
      
      </div>

<div class="field">

     <label>Username</label>
     <input type="text" name="username" ngModel #f4="ngModel"  required >
</div>
<div class="customValid" *ngIf="f4.touched && f4.invalid">
        Username is required !
      
      </div>
      <!-- <div class="customValid" *ngIf="f4.errors.minlength">
            Username must be at least 6 characters !
          
          </div> -->
         



<div class="field">
     <label>Password</label>
     <input type="password" name="password" ngModel #f5="ngModel" required>
</div>
<div class="customValid" *ngIf="f5.touched && f5.invalid">
        Password is required !
      
      </div>



     <input type="submit" [disabled]="f.invalid" value="Register" class="ui  primary button">
     <p style="display:inline-block;">Already have an account ? <a routerLink="/login">Login</a></p>
  


</form>

</div>


</div>