<div *ngIf="this.appService.user">
  <div class="ui message">
    <div class="ui centered header">

      You are already logged in !
      <br><br>
      <button routerLink="/" class="ui primary button">Back to Home</button>

    </div>

 
  </div>
</div>

<div *ngIf="!this.appService.user">
<div class="ui segment text  container">
	<div class="ui large header">Login</div>
<hr>
	<form class="ui form" (ngSubmit)="onSubmit(f)" #f="ngForm"  >

<div class="field">

   	 <label>Username</label>
     <input type="text" name="username" ngModel #f1="ngModel" required >
</div>
<div class="customValid" *ngIf="f1.touched && f1.invalid">
    Username is required !
  
  </div>

<div class="field">
     <label>Password</label>
     <input type="password" name="password" #f2="ngModel" ngModel required >
</div> 
<div class="customValid" *ngIf="f2.touched && f2.invalid">
    Password is required !
  
  </div>
<div>
     <input type="submit" [disabled]="f.invalid" value="Login" class="ui  primary button">
      <p style="display:inline-block;">Haven't account yet ? <a routerLink="/register" >Sign Up</a></p>
  </div>	


</form>

</div>
</div>